table{
    margin-top: 3%;
    cursor: default;
}

.tab-left{
    text-align: right;
}

.tab-mid{
    text-align: center;
    color: red;
}

.tab-right{
    text-align: left;
}

.text-button{
    position: absolute;
    right: 0;
    margin-top: -1.5em;
    visibility:hidden;
}

.res_list:hover .text-button{
    visibility: visible;
}

.highlight{
    color: red;
}

.hidden{
    position: absolute;
    visibility: hidden;
}

.text-center{
    text-align: center;
}

.commentary{
    color: cornflowerblue;
}

#show_content{
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 100;
    border-radius: 5px;
    border: 1px solid black;
}

.close_content{
    position: relative;
    margin-top: .5%;
    margin-bottom: -2.5%;
}

#detail_div, #zhujie_div {
    position: absolute;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    z-index: 100000;
}

#content_last>span,
#content_this>span,
#content_next>span,
#content_last p>span,
#content_this p>span,
#content_next p>span
{
    text-indent:25px
}

