{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}全文浏览{% endblock %}
{% block css %}<link href="{% static 'css/all_text.css' %}" rel="stylesheet"> {% endblock %}


{% block content %}
    <div id="text-container">
        <div id="text-title">加载中……</div>
        <div id="text-content"></div>
    </div>
    <script>
    var baseUrl = window.location.origin;
    /id=(.+?)(:=&|$)/.test(window.location.href);
    var fullId = RegExp.$1;
    var textId = fullId.split(".")[0];
    var getServerText = function (textId) {
      if(isNaN(parseInt(textId))||parseInt(textId)<1) {
        return;
      }

      function parseText(textObject){
        var authors = [];
        var resHTML = '';
        var sortedKeys = Object.keys(textObject).sort(function (a, b) {
          var arrayA = a.split(".").map(function (e) { return parseInt(e) });
          var arrayB = b.split(".").map(function (e) { return parseInt(e) });
          var a1 = arrayA[0];
          var a2 = arrayA[1] || 0;
          var a3 = arrayA[2] || 0;
          var b1 = arrayB[0];
          var b2 = arrayB[1] || 0;
          var b3 = arrayB[2] || 0;
          if(a1 === b1){
            if(a2 === b2){
              return a3 - b3;
            }
            return a2 - b2;
          }
          return a1 - b1;
        });
        for(var i in sortedKeys){
          i = sortedKeys[i];
          if(i.split('.').length === 1){
            textObject[i].color = '';
          }
          else{
            var dataIndex = -1;
            if(!authors.some(function (item) {
                return item.color.toUpperCase() === textObject[i].color.toUpperCase()
            })){
              if(textObject[i]['detail']){
                textObject[i]['detail'] = JSON.parse(textObject[i]['detail'])
              }
              authors.push(textObject[i])
            }
            authors.forEach(function (item, index) {
              if(item.color.toUpperCase() === textObject[i].color.toUpperCase()){
                dataIndex = index;
              }
            });
            var tagPrefixDetail = "data-index='" + dataIndex + "' style='color: " + textObject[i].color + "'";
            // 章节标题
            if(i.split('.').length === 2){
              resHTML += "<div " + tagPrefixDetail + ">" + textObject[i].section + "</div>";
            } // 正文部分
            else{
              // 章节第一个span，也是最后一个span
              if(i.split('.')[2] === '1' && (sortedKeys.length === sortedKeys.indexOf(i)+1||sortedKeys[sortedKeys.indexOf(i)+1].split('.').length !== 3||sortedKeys[sortedKeys.indexOf(i)+1].split('.')[1] !== i.split('.')[1])){
                resHTML += "<div><span " + tagPrefixDetail + ">" + textObject[i].text + "</span></div>";
              }// 只是章节第一个span
              else if(i.split('.')[2] === '1'){
                resHTML += "<div><span " +  tagPrefixDetail + ">" + textObject[i].text + "</span>";
              }// 只是章节最后一个span
              else if(sortedKeys.length === sortedKeys.indexOf(i)+1||sortedKeys[sortedKeys.indexOf(i)+1].split('.').length !== 3||sortedKeys[sortedKeys.indexOf(i)+1].split('.')[1] !== i.split('.')[1]){
                resHTML += "<span " + tagPrefixDetail + ">" + textObject[i].text + "</span></div>";
              }// 一般span
              else{
                resHTML += "<span " + tagPrefixDetail + ">" + textObject[i].text + "</span>";
              }
            }
          }
        }
        return resHTML
      }
      textId = parseInt(textId);
          $.ajax({
            url: baseUrl + "/corpus/doc/",
            method: "POST",
            data: JSON.stringify({
                id: textId
            }),
            success: function (res) {
                var textHTML = "";
                var textTitle = "";
                try {
                    res = JSON.parse(res.doc);
                    console.log(res)
                    textHTML = parseText(res);
                    var titleKey = "";
                    titleKey = Object.keys(res).filter(function (value) {
                        return value.indexOf(".") < 0;
                    })[0];
                    textTitle = res[titleKey].document;
                    textTitle = textTitle.split(".")[0];
                } catch (e) {
                    console.log(e)
                    textTitle = "出错了！"
                }
                $("#text-content").html(textHTML);
                $("#text-title").html(textTitle);
            },
            error: function (e) {
                console.log(e)
            }
        });
    };

    baseUrl = "http://120.78.71.214"
    window.onload = function (ev) {
        getServerText(textId);
    }
    </script>
{% endblock %}